@import "tailwindcss";

.text-outline {
  color: transparent; /* text fill transparent */
  -webkit-text-stroke-width: 2px; /* outline thickness */
  -webkit-text-stroke-color: #ffffff; /* outline color (teal-400) */
}

